<nav class="agr-nav navbar navbar-expand-sm px-md-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            ANGIE SERVICE
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#agr-nav-control" aria-controls="agr-nav-control" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-end agr-nav__links" id="agr-nav-control">
            <ul class="navbar-nav">
              <li [ngClass]="{'nav-item':true,'px-3':true,'dropdown':nav.hasChildren}"
              *ngFor="let nav of navigation">
                <a *ngIf="nav.hasChildren"
                class="nav-link dropdown-toggle fw-medium" href="#"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{nav.title}}
                </a>
                <ul *ngIf="nav.hasChildren" class="dropdown-menu">
                  <li *ngFor="let sub of nav.children">
                    <a [ngClass]="{'dropdown-item':true,'fw-medium':true,'active':sub.isActive}" [href]="sub.url">{{sub.title}}</a>
                  </li>
                </ul>
                <a *ngIf="!nav.hasChildren"
                [ngClass]="{'nav-link':true, 'fw-medium':true,'active':nav.isActive}"
                [href]="nav.url">{{nav.title}}</a>
              </li>
              <li class="nav-item px-3">
                <a class="btn btn-primary rounded-pill text-white" href="tel:6786328181">678 632 8181</a>
              </li>
            </ul>
          </div>
    </div>
</nav>
